<h2>Contact Us</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="content">
      <span>Name:</span>
      <input type="text" formControlName="name" />
    </div>
    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      Name is required
    </div>
    <div class="content">
      <span>Message:</span>
      <input type="text" formControlName="message" />
    </div>
    <div *ngIf="form.get('message')?.invalid && form.get('message')?.touched">
      No message was provided or the message is less than 10 characters
    </div>
    <button>Submit</button>
  </form>
  <div class="result" *ngIf="submitted">
    Name:  {{form.value.name}},
    Message:  {{form.value.name}}
  </div>


