<h1>Notebook</h1>
<div class="container">
  <div class="row-left">
    <div class="first" (click)="createNewNote()">
      <span>Create new one</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-file-earmark-plus"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"
        />
        <path
          d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"
        />
      </svg>
    </div>

    <div *ngFor="let unit of noteList; let i = index" class="item">
      <span (click)="selectedNote(i)">Title:{{ unit.title }}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-trash"
        viewBox="0 0 16 16"
        (click)="deleteButton(i)"
      >
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
        />
        <path
          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
        />
      </svg>
    </div>
  </div>

  <div class="row-right">
    <div class="row">
      <h3>Title</h3>
      <input type="text" placeholder="Input the title" [(ngModel)]="title" />
    </div>
    <br>
    <div class="row">
      <h4 for="area">Content</h4>
      <textarea
        name="area"
        cols="30"
        rows="10"
        placeholder="Input the content"
        [(ngModel)]="content"
      ></textarea>
    </div>
    <button (click)="onSubmit(title, content)">
      Create a note
    </button> 
  </div>
</div>
